
.modal-main {
  position:absolute;
  margin-top: 30px;
  background: rgba(255, 255, 255, .7) ;
  width: 350px;
  margin-left: 10px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
#buttonClose {
  position: absolute;
  right: 5%;
  top: 89%;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#buttonClose:hover {
  opacity: 1;
}
#buttonClose:before, #buttonClose:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#buttonClose:before {
  transform: rotate(45deg);
}
#buttonClose:after {
  transform: rotate(-45deg);
}

#buttonOpen{
  margin-left: 5px;
  background: #D84E5A;
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  border: solid white 1px;
}
.reacttool_title{
  font-size: 20px;
}
.button{
  border-radius: 5px;
  margin: 3px;
  font-size: 18px;
}
