.big {
  display: none;
}

span{
  display: block;
}
#tooglebutton{
  position: absolute;
  margin: 5px;
  background: #D84E5A;
  color: white;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
  border: solid white 1px;
}
.modal-main {
  position:absolute;
  margin-top: 30px;
  background: rgba(255, 255, 255, .7) ;
  width: 350px;
  margin-left: 10px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
}
